@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.landpage{
  height: 300vh;
  background-color: #00302E;
  overflow-x: hidden;
}
header .logo{
  position: absolute;
  height: 67px;
  width: 58px;
  left: 7%;
  top: 8%;
}
header h1{
  position: absolute;
  width: 82px;
  height: 46px;
  left: 12%;
  top: 8.5%;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 36px;
  color: #FFFFFF;
}

ul {
  text-decoration-style: none;
}
.navbar li{
  color: #FFFFFF;
  list-style-type: none;
  font-size: 21px;
  line-height: 33px;
  
}
.home, .login,.sign-up{
  position: absolute;
width: 63px;
height: 33px;
right: 25%;
top: 10%;
line-height: 33px;
color: #FBDDBB;
}
.login{
width: 57px;
right: 18.5%;
color: rgba(255, 255, 255, 0.87);
}

.sign-up{
  height: 53px;
  right: 11%;
  top: 8.5%;
  background: #E2B887;
  border-radius: 7px;
}

.sign-up Button{
width: 140px;
height: 53px;
background: #E2B887;
border-radius: 7px;
}

.content h2, .content p{
  position: absolute;
width: 65%;
height: 167px;
left: 7%;
top: 43%;
font-weight: 400;
font-size: 64px;
line-height: 70px;
color: #FFFFFF;
}
.content h2 span{
  color:#E2B887; ;
}
.content p{
  width: 54%;
  height: 77px;
  top: 70%;
  font-weight: 300;
  font-size: 18px;
  line-height: 33px;
}
.content img{
  position: absolute;
  width: 30%;
  height: 55%;
  right: 7%;
  top: 33%;
  border-radius: 400px;
}
.google, .apple{
  position: absolute;
  width: 135px;
  height: 40px;
  left: 7%;
  top: 90%;
}
.apple{
  left: 20%;
}
.center h4, .center p{
  position: absolute;
  width: 40%;
  height: 33px;
  left: 32%;
  top: 105%;
  font-weight: 400;
  font-size: 36px;
  line-height: 33px;
  text-align: center;
  color: rgba(255, 255, 255, 0.83);
}
.center p{
  width: 48%;
  height: 77px;
  left: 29%;
  top: 115%;
  font-weight: 200;
  font-size: 18px;
}

.image-1 .spag, .image-2 .samo, .image-3 .burg{
  position: absolute;
  width: 250px;
  height: 250px;
  left: 8%;
  top: 150%;
  border-radius: 400px;
}
.image-2 .samo{
  left: 42%;
}
.image-3 .burg{ 
  left: 74%;
}
.image-1 h5, .image-2 h5, .image-3 h5{
  position: absolute;
  width: 177px;
  height: 33px;
  left: 10%;
  top: 193%;
  font-weight: 300;
  font-size: 27px;
  line-height: 33px;
  /* identical to box height, or 122% */
  text-align: center;
  color: #FBDDBB;
  }
  .image-2 h5{
    left: 45%;
  }
  .image-3 h5{
    left: 77%;
    width: 15%;
  }

  .image-1 p, .image-2 p, .image-3 p{
    position: absolute;
    width: 288px;
    height: 66px;
    left: 6%;
    top: 200%;
    font-weight: 200;
    font-size: 18px;
    line-height: 33px;
    /* identical to box height, or 122% */
    text-align: center;
    color: rgba(255, 255, 255, 0.83);
    
  }
.image-2 p{
  position: absolute; 
  left: 41%;
}

.image-3 p{
  left: 75%;
}
.notice h4, .notice p{
  position: absolute;
width: 549px;
height: 33px;
left: 10%;
top: 250%;
font-weight: 400;
font-size: 36px;
line-height: 33px;
/* identical to box height, or 92% */
color: #FBDDBB;
}
.notice p{ 
height: 60px;
left: 10;
top: 260%;
font-weight: 200;
font-size: 18px;
color: rgba(255, 255, 255, 0.95);
}
.notice input, .notice button{
  position: absolute;
  width: 22%;
  height: 51px;
  right: 22%;
  top: 254%;
  background: #F7F7F7;
  border: 1px solid #B3B3B3;
  border-radius: 5px;
}
.notice button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
  gap: 10px;
  width: 182px;
  right: 7%;
  background: #FBDDBB;
}
.footer {
  position: absolute;
  width: 100%;
  height: 60%;
  left: 0px;
  color: #ffffff;
  top: 300%;
/* Default / Black */
background: #0B0D17;
}
.f1 h6, .f2 h6, .f3 h6{
  position: absolute;
  width: 255px;
  height: 28px;
  left: 10%;
  top: 7%;
  /* Subtitle / Subtitle 2 */
  font-family: 'Inter';
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #F4F5F7;
}
.f2 h6{
  left: 30%;
  top: 7%;
}
.f3 h6{
  left: 53%;
  top: 7%;
}
.f4 h6{
  position: absolute;
  width: 255px;
  height: 28px;
  right: 10%;
  top: 7%;
  /* Subtitle / Subtitle 2 */
  font-family: 'Inter';
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: 'salt' on, 'liga' off;
  color: #F4F5F7;
}
.f1 ul, .f2 ul, .f3 ul {
  position: absolute;
  width: 255px;
  height: 30px;
  left: 10%;
  top: 22%;
  font-weight: 200;
  list-style-type: none;
}



.f2 ul { 
  left: 30%;
}

.f3 ul {
  left: 53%; 
}
.f4 ul {
  position: absolute;
  width: 255px;
  height: 30px;
  right: 10%;
  top: 22%;
  font-weight: 200;
  list-style-type: none;
}


@media (max-width:768px) {
  div .landpage{
    background-color: #00302E;
    height: 380vh;
    width: 120vw;
    overflow-x: auto;
  }
  header .logo{
    width: 50px;
    left: 0%;
    top: 8%;
  }
  header h1{
    width: 50px;
    height: 36px;
    left: 14%;
    top: 8.5%;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 30px;
  }
  .navbar li{
    font-size: 18px;
    line-height: 23px;
    
  }
  .home, .login{
    right: 0;
    top: 7%;
    
  }
  .login{
  
  top: 12%;
  right: 0;
  }

  .sign-up{
    right: 0;
    top: 16%;
    height: 33px;
  }
  .sign-up Button{
    width: 60px;
    height: 30px;
    border: none;
    background: #E2B887;
    }
  
.content h2, .content p{
  width: 28rem;
  left: 0%;
  top: 33%;
  font-weight: 200;
  font-size: 35px;

}
.content h2 span{
  color:#E2B887; ;
}
.content p{
  width: 25rem;
  top: 50%;
  font-weight: 100;
  font-size: 18px;
}
.google, .apple{
  width: 100px;
  height: 40px;
  left: 20%;
  top: 65%;
}
.apple{
  left: 56%;
}
.content img{
  width: 300px;
  height: 300px;
  top: 76%; 
  left: 10%;
}
  .center h4, .center p{
    position: absolute;
    width: 25rem;
    height: 16px;
    left: 0%;
    top: 120%;
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 0.83);
  }
  .center p{
    width: 25rem;
    height: 27px;
    left: 0%;
    top: 130%;
    font-weight: 100;
    font-size: 18px;
  }
  .image-1 .spag, .image-2 .samo, .image-3 .burg{
    left: 10%;
    top: 145%;
    width: 300px;
    height: 300px;
  }
  .image-2 .samo{
    top: 205%;
  }
  .image-3 .burg{ 
    
    top: 265%;
  }
  .image-1 h5, .image-2 h5, .image-3 h5{
    width: 177px;
    height: 33px;
    left: 25%;
    top: 185%;
    font-weight: 200;
    }
    .image-2 h5{
      left: 24%;
      top: 247%;
    }
    .image-3 h5{
      left: 24%;
      top: 305%;
      width: 200px;
    }

    .image-1 p, .image-2 p, .image-3 p{
      width: 23rem;
      left: 0%;
      top: 192%;
      font-weight: 100;
    }
  .image-2 p{
    position: absolute; 
    left: 0%;
    top: 254%;
  }
  
  .image-3 p{
    left: 0%;
    top: 310%;
  }
  .notice h4, .notice p{
    width: 25rem;
    top: 325%;
    font-weight: 100;
    /* identical to box height, or 92% */
    color: #FBDDBB;
  }
  .notice p{ 
  height: 50px;
  left: 0;
  top: 335%;
  font-weight: 100;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.95);
  }

  .notice input, .notice button{
    width: 22rem;
    height: 38px;
    top: 350%;
    left: 5%;
  }
  .notice button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    gap: 10px;
    top: 358%;
    
  }

  .footer {
    width: 119vw;
    height: 50%;
    top: 365%;
  }
  .f1 h6, .f2 h6, .f3 h6{
    height: 28px;
    left: 10%;
    top: 7%;
  }
  .f2 h6{
    left: 50%;
    top: 7%;
  }
  .f3 h6{
    left: 10%;
    top: 35%;
  }
  .f4 h6{
    left: 50%;
    top: 35%;
  }
  .f1 ul, .f2 ul, .f3 ul {
    position: absolute;
    left: 10%;
    top: 16%;
    font-weight: 200;
    list-style-type: none;
  }
  .f2 ul { 
    left: 50%;
  }
  
  .f3 ul {
    left: 10%; 
    top:45%;
  }
  .f4 ul {
    position: absolute;
    width: 200px;
    height: 30px;
    left: 50%;
    top: 45%;
  }
  
}






